<html>
 <head>
{{>headerLinks}}
  </head>
  <body>
    <!-- <h1>welcome to static page</h1> -->
    <!-- <button type="button" class="btn btn-danger">hello</button> -->
{{>navbar}}
    <!-- main header -->
    <div class='container-fluid main_header'>
      <div class='row'>
        <div class='col-md-10 col-12 mx-auto'>
          <div class='row'>
            <!-- left side div -->
            <div class='col-md-6 col-12 main_header_right align-items-center'>
              <figure>
                <img
                  src='images/about.png'
                  alt='l'
                  class='img-fluid'
                  title='Abdul rauf'
                />
              </figure>
            </div>
            <!-- right side div -->
            <div class='col-md-6 col-12 main_header_left'>
              <p>welcome to weather app</p>
              <h1>
                I am A
                <span class='text_clr'>Mern Stack Developer</span>
                Youtuber And A Freelancer
              </h1>
              <a href='https://www.thapatechnical.com/' target='_'><button>About
                  me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer code -->
{{>footer}}
  </body>
</html>